<!-- Navbar -->
<nav>
  <div class="nav-wrapper black">
    <a class="brand-logo">Social Banner</a>
    <a href="#" class="brand-logo center">Download</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Horizontal</a></li>
      <li><a>Horizontal Reverse</a></li>
      <li><a>Vertical</a></li>
      <li><a>Vertical Reverse</a></li>
    </ul>
  </div>
</nav>
<!-- END Navbar -->
<!-- Banner -->
<div class="banner">
  <div class="banner-text">
    <span contenteditable="true">
      Your text here...
    </span>
  </div>
</div>
<!-- END Banner -->
<!-- Settings -->
<div class="settings">
  <label >Color 1</label>
  <div class="colors">
    <span class="badge"></span>
  </div>
  <input type="range" min="0" max="100">
  
  <label >Color 2</label>
  <div class="colors">
    <span class="badge"></span>
  </div>
  <input type="range" min="0" max="100">
  
  <label >Width</label>
  <input type="range" min="0" max="1000" step="50">
  
  <label >Height</label>
  <input type="range" min="0" max="1000" step="50">
  
  <label >Font size</label>
  <input type="range" min="12" max="72">
  <!-- END Settings -->
</div>
